.ndc-logo{
    height: 50%;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0em;
    background-color: #f5f5f5;
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.navbar-profile-pic{
    height: 7em;
    width: 7em;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1em;
}
