:root {
    --primary-color: #94408F;
    --primary-color-20: #ead3e4;
    --primary-color-50: #c99bc3;
    --darker-primary-color: #653661;
    --light-color-1: #FFF7F9;
    --light-color-2: #fdf0f7; 
    --chart-color-1: #804d7a;
    --chart-color-2: #eedee7;
    --dark-color-1: #201a1e;
    --dark-color-2: #4e444b;
    --gray-color: #bab6b9; 
    --yellow-color: #ffea00; 
}

.page-wrapper { 
    background-color: var(--light-color-1);
    padding: 1rem; 
}

.modifiers { 
    background-color: var(--chart-color-2);
    border-radius: 0.5rem; 
    padding: 0.5rem; 
}

.mod-button {
    background-color: var(--chart-color-2); 
    color: black; 
}

.staff-header {
    padding-bottom: 0.5rem; 
    border-bottom: 0.125rem solid var(--gray-color); 
}

.scrollable {
    overflow: auto; 
    height: 65vh; 
}

.OrderPopup-container {
    padding: 0.5rem; 
}

.OrderPopup-container:hover {
    background-color: var(--primary-color-20); 
    cursor: pointer; 
}

.circle {
    vertical-align: bottom;
    width: 0.875em;
    height: 0.875em;
    border-radius: 50%;
}

.red_circle {
    background-color: red; 
}

.yellow_circle {
    background-color: var(--yellow-color); 
}

.light-green_circle {
    background-color: greenyellow; 
}

.green_circle {
    background-color: green; 
}