.header {
    padding-top: 1em;
    padding-bottom: 2em;
}
.form {
    /* background-color: gray; */
    position: relative;
}
.form-inputs {
    width: 55%;
    margin: auto;
}
.modal-input {
    margin-bottom: 1em;
}
.submit-panel {
    display: flex;
    gap: 2em;
    padding-top: 4em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
}
.submit-element {
    left-padding:20em;
}
.quantity-inputs-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quantity-input {
    width: 40%;
    margin-bottom: 1em;
}
.submit-button {
    margin-left: auto;
}
.quantity-button {
    position: relative;
    right: 50%;
}
