* {
    box-sizing: border-box;
}

:root {
    --primary-color: #804d7a;
    --secondary-color: #4e444b;
    --accent-color: none;
    --background-color: #ebdfe5;
    --light-color: #fff7f9;
    --text-color: #21272a;
    --input-outline-color: #80747c;
    --button-color: var(--primary-color);
    --highlight-color: #f3e7f0;
    --chart-dark-color: #653661;
    --chart-primary-color: #c99bc3;
    --chart-light-color: #ead3e4;
    --dropdown-primary-color: #f7ebf1;
    --dropdown-border-color: #d1c2cb;
    --dropdown-active-color: #eedee7;
    --status-blue-color: #228be6;
    --status-blue-color-light: #e7f5ff;
    --status-green-color: #40c057;
    --status-green-color-light: #ebfbee;
    --status-orange-color: #fd7e14;
    --status-orange-color-light: #fff4e6;
    --status-yellow-color: #fcc419;
    --status-yellow-color-light: #fff9db;
}

body {
    font-family: brandon-grotesque, sans-serif;
    font-weight: normal;
    background-color: var(--background-color);
    color: var(--text-color);
}

.mantine-Title-root {
    font-family: brandon-grotesque, sans-serif;
    font-weight: bold;
    margin: 0;
}

.mantine-Subtitle-root {
    font-weight: bold;
}

.mantine-TextInput-label, .mantine-DateInput-label, .mantine-Textarea-label {
    font-weight: bold;
}

.mantine-TextInput-input, .mantine-DateInput-input, .mantine-Textarea-input {
    outline: 2px solid var(--input-outline-color);
    outline-offset: -2px;
}

.mantine-TextInput-input:focus, .mantine-DateInput-input:focus, .mantine-Textarea-input:focus {
    outline: 2px solid var(--highlight-color);
}

.mantine-Checkbox-icon {
    margin: auto;
}

button {
    background-color: var(--button-color);
}

header {
    background-color: var(--primary-color);
    margin-bottom: 2.5%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #194568;
    color: #fff;
}

.logoRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.textLogo {
    font-size: 2em;
    font-weight: 700;
    margin: 0 0.5em;
    transition: all 0.2s ease-in-out;
    color: #d46b46;
    text-decoration: none;
}

.textLogo:hover {
    color: #d46b46aa;
    cursor: pointer;
    transform: translateY(-2px);
}

.logo {
    height: 7em;
    padding: 1.5em;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #d46b46aa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}


.mantine-Checkbox-inner{
  order: var(--_checkbox-inner-order, 0);
}


/*.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-end;
  gap: 20px;

}*/
